.titlebar{
    background-color: rgb(10, 236, 104);
    height:70px;
    align-items: center;
    font-size:60px;
}

.valuebar{
    border-radius: 10px;
    height:70px;
    align-items: center;
    font-size:60px;
}

.cardborder{
    border-radius:30px;
    border-color: #00D100;
    /* padding-bottom: 100px;
    margin-left: 300px;
    margin-right: 100px; */
    display: flex;
   


}

.cardheader{
    /* background-color: rgb(49, 125, 218); */
    background-color: rgb(220, 220, 220);
    height: 50px;
    border-radius: 8px;
}

.titlebarmachine{
    /* margin-top: 20px; */
    /* margin-bottom: 200px; */
    padding-left: 30px;
    text-align: center;
    height:70px;
    align-items: center;
    font-size:30px;
    color: rgb(4, 4, 4);
    font-family: Roboto, OpenSans, Lato;
    font-weight: bold;
}
.cardborder{
    width: fit-content;
}
.infoCard{
    width: 100%;
    background-color:  rgb(255, 255, 255);
    border-radius: 15px;
}
.h1class{
    color: rgb(3, 3, 3);
    font-size:20px;
    font-family: Roboto, OpenSans, Lato;
    font-weight: bold;
}

.paddingtocard{
    padding-top: 5px;
    padding-bottom: 5px;
}
td{
    padding: 10px;
}

.dashboardText{
    padding-left: 10px;
    font-family:Roboto, OpenSans, Lato;
    font-size: 20px;
    font-weight: lighter;
}
.padingto{
    margin: 10px;
}
