.titlebar{
    background-color: rgb(10, 236, 104);
    height:70px;
    align-items: center;
    font-size:60px;
}

.valuebar{
    border-radius: 10px;
    height:70px;
    align-items: center;
    font-size:60px;
}

.cardborder{
    border-radius:30px;
    border-color: #00D100;
    /* padding-bottom: 100px;
    margin-left: 300px;
    margin-right: 100px; */
    display: flex;
   


}

.cardheader{
    background-color: rgb(52, 51, 51);
    height: 50px;
    border-radius: 10px;
}

.titlebarmachine{
    /* margin-top: 20px; */
    /* margin-bottom: 200px; */
    padding-left: 30px;
    text-align: center;
    height:70px;
    align-items: center;
    font-size:30px;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cardborder{
    width: fit-content;
}
.infoCard{
    width: 100%;
    background-color: #616161;
}
.h1class{
    color: aliceblue;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paddingtocard{
    padding-top: 10px;
}
td{
    padding: 10px;
}


